body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0px;
    margin-top: 100px;
}

.sidebar ul li {
    margin: 20px 0;
    margin-bottom: 50px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    padding: 50px 20px;
    width: 500%;
}

.content h1 {
    margin-bottom: 30px;
}

.actions button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.actions button:hover {
    background-color: #555;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

table a {
    text-decoration: none;
    color: blue;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .content {
        padding: 20px;
    }
}
